body {
  box-sizing: border-box;
}

.icon-instagram {
  position: fixed;
  left: calc(50% - 12px);
  bottom: calc(50% - 12px);
  width: 24px;
  height: 24px;
  background-image: url('instagram.png');
  background-repeat: round;
}